.normal {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  pointer-events: auto;

  opacity: 0.6;
  transition: opacity 0.6s ease;

  :global([active]) & {
    opacity: 1;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -14px;
    top: -14px;
    right: -14px;
    bottom: -14px;
    transform: scale(1);
    border-radius: 12px;
    background-color: currentColor;
    opacity: 0;
    z-index: 0;
    transition:
      opacity 0.2s ease,
      left 0.15s ease,
      top 0.15s ease,
      right 0.15s ease,
      bottom 0.15s ease,
      transform 0.2s ease;
    pointer-events: none;
  }
  &:hover::before {
    transform: scale(1);
    opacity: 0.08;
  }
  &:active::before {
    transform: scale(1);
    left: -8px;
    top: -10px;
    right: -10px;
    bottom: -8px;
    opacity: 0.16;
  }
}

.syllable {
  .word {
    display: inline-block;
    opacity: 0.4;
    transform: translateY(0);

    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1), cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .space {
    display: inline-block;
    width: 0.3em;
    white-space: pre;
    user-select: none;
  }

  :global([active]) & {
    .word {
      opacity: 1;
      transform: translateY(-2px);
    }
  }
}

.extended {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  .translate {
    display: inline-block;
  }
  .roman {
    display: inline-block;
  }
}
.extended > :first-child {
  margin-top: 10px;
}

.background {
  opacity: 0;
  transform: scale(0.8);

  transition:
    opacity 0.1s linear,
    transform 0.3s cubic-bezier(0, 1, 0, 1);

  font-size: calc(var(--lyric-player-font-size, 30px) * 0.8);

  :global([active]) & {
    opacity: 1;
    transform: scale(1);
  }
}
