@use '../common.scss' as *;

@mixin apply-font($element) {
  font-size: build-line-var('normal', $element, 'font-size');
  font-weight: build-line-var('normal', $element, 'font-weight');
  font-family: build-line-var('normal', $element, 'font-family');
}

@mixin apply-style($element) {
  color: build-line-var('normal', $element, 'color');
  opacity: build-line-var('normal', $element, 'opacity');

  [active] & {
    color: build-line-var('normal', '#{$element}-active', 'color');
    opacity: build-line-var('normal', '#{$element}-active', 'opacity');
  }

  [played] & {
    color: build-line-var('normal', '#{$element}-played', 'color');
    opacity: build-line-var('normal', '#{$element}-played', 'opacity');
  }
}

.normal {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  pointer-events: auto;
  transition: opacity 0.6s ease;

  @include apply-font('base');
  @include apply-style('base');

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: -14px;
    transform: scale(1);
    border-radius: 12px;
    background-color: currentColor;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    transition:
      opacity 0.2s ease,
      inset 0.15s ease,
      transform 0.2s ease;
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:active::before {
    inset: -10px -10px -8px -8px;
    opacity: 0.16;
  }
}

.syllable {
  @include apply-font('syllable');

  .word {
    display: inline-block;
    transition: opacity 0.8s ease;

    mask-mode: alpha;
    mask-repeat: no-repeat;

    @include apply-style('syllable');
  }

  .space {
    display: inline-block;
    width: 0.3em;
    white-space: pre;
    user-select: none;
  }
}

.extended {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;

  > :first-child {
    margin-top: 10px;
  }

  .translate {
    display: inline-block;
    @include apply-font('extended-translate');
    @include apply-style('extended-translate');
  }

  .roman {
    display: inline-block;
    @include apply-font('extended-roman');
    @include apply-style('extended-roman');
  }
}

.background {
  opacity: 0;
  transform: scale(0.6);
  transform-origin: var(--lyric-player-line-position) center;

  transition-property: opacity, transform;
  transition-duration: 0.2s, 0.4s;
  transition-delay: 0.1s, 0s;
  transition-timing-function: ease, cubic-bezier(0.68, -0.55, 0.27, 1.55);

  :is([played]) & {
    opacity: 0;
  }

  :is([active], [scrolling]) & {
    opacity: 1;
    transform: scale(0.7);
  }
}
