@use '../common.scss' as *;

.normal {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  pointer-events: auto;

  transition: opacity 0.6s ease;

  font-size: build-var('line-normal', 'font-size');
  font-weight: build-var('line-normal', 'font-weight');
  font-family: build-var('line-normal', 'font-family');

  color: build-var('line-normal', 'color');
  opacity: build-var('line-normal', 'opacity');

  [active] & {
    color: build-var('line-normal-active', 'color');
    opacity: build-var('line-normal-active', 'opacity');
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -14px;
    top: -14px;
    right: -14px;
    bottom: -14px;
    transform: scale(1);
    border-radius: 12px;
    background-color: currentColor;
    opacity: 0;
    z-index: 0;
    transition:
      opacity 0.2s ease,
      left 0.15s ease,
      top 0.15s ease,
      right 0.15s ease,
      bottom 0.15s ease,
      transform 0.2s ease;
    pointer-events: none;
  }
  &:hover::before {
    transform: scale(1);
    opacity: 0.08;
  }
  &:active::before {
    transform: scale(1);
    left: -8px;
    top: -10px;
    right: -10px;
    bottom: -8px;
    opacity: 0.16;
  }
}

.syllable {
  font-size: build-var('line-normal-syllable', 'font-size');
  font-weight: build-var('line-normal-syllable', 'font-weight');
  font-family: build-var('line-normal-syllable', 'font-family');

  .word {
    display: inline-block;
    color: build-var('line-normal-syllable', 'color');
    opacity: build-var('line-normal-syllable', 'opacity');
    transform: translateY(0);

    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1), cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .space {
    display: inline-block;
    width: 0.3em;
    white-space: pre;
    user-select: none;
  }

  [active] & {
    .word {
      color: build-var('line-normal-syllable-active', 'color');
      opacity: build-var('line-normal-syllable-active', 'opacity');
      transform: translateY(-2px);
    }
  }
}

.extended {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;

  .translate {
    display: inline-block;
    font-size: build-var('line-normal-translate', 'font-size');
    font-weight: build-var('line-normal-translate', 'font-weight');
    font-family: build-var('line-normal-translate', 'font-family');

    color: build-var('line-normal-translate', 'color');
    opacity: build-var('line-normal-translate', 'opacity');
    [active] & {
      color: build-var('line-normal-translate-active', 'color');
      opacity: build-var('line-normal-translate-active', 'opacity');
    }
  }

  .roman {
    display: inline-block;
    font-size: build-var('line-normal-roman', 'font-size');
    font-weight: build-var('line-normal-roman', 'font-weight');
    font-family: build-var('line-normal-roman', 'font-family');

    color: build-var('line-normal-roman', 'color');
    opacity: build-var('line-normal-roman', 'opacity');
    [active] & {
      color: build-var('line-normal-roman-active', 'color');
      opacity: build-var('line-normal-roman-active', 'opacity');
    }
  }
}
.extended > :first-child {
  margin-top: 10px;
}

.background {
  opacity: 0;

  transform: scale(0.6);
  transform-origin: var(--lyric-player-line-position) center;

  transition:
    opacity 0.1s linear,
    transform 0.3s cubic-bezier(0, 1, 0, 1);

  [active] & {
    opacity: 1;
    transform: scale(0.75);
  }
}
