@use '../common.scss' as *;

.interlude {
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  gap: 12px;

  transform: scale(0.6);
  transform-origin: var(--lyric-player-line-position) center;

  transition:
    opacity 0.3s linear,
    transform 0.6s ease-out;

  .dot {
    display: inline-block;

    width: build-line-var('interlude', '', 'size');
    height: build-line-var('interlude', '', 'size');

    opacity: build-line-var('interlude', '', 'opacity');
    background-color: build-line-var('interlude', '', 'color');

    aspect-ratio: 1 / 1;
    border-radius: 100%;
  }

  [active] & {
    transform: scale(1);
    transition-delay: 0.1s;

    .dot {
      opacity: build-line-var('interlude', 'active', 'opacity');
      background-color: build-line-var('interlude', 'active', 'color');

      transition-property: opacity;
      transition-timing-function: linear;
    }
  }
}
