@use '../common.scss' as *;

.wrapper {
  --lyric-player-line-position: center;
  @each $pos in $positions {
    &[position='#{$pos}'] {
      --lyric-player-line-position: #{$pos};
    }
  }

  display: flex;
  position: absolute;
  width: build-player-var('container-width');

  transition:
    transform 1s build-player-var('scroll-easing'),
    opacity 0.6s ease,
    filter 0.6s ease;

  will-change: transform;
  opacity: 1;

  justify-content: build-player-var('line-position');
  text-align: build-player-var('line-position');
  transform-origin: build-player-var('line-position') center;

  pointer-events: none;
}
