.wrapper {
  --lyric-player-line-position: left;

  display: flex;
  position: absolute;
  width: var(--lyric-player-container-width);

  transition:
    transform 1s ease,
    opacity 0.6s ease,
    filter 0.6s ease;
  will-change: transform;
  opacity: 1;

  justify-content: var(--lyric-player-line-position);
  text-align: var(--lyric-player-line-position);
  transform-origin: var(--lyric-player-line-position) center;

  pointer-events: none;

  font-size: var(--lyric-player-font-size, 30px);
  font-weight: var(--lyric-player-font-weight, 500);
  font-family: var(--lyric-player-font-family);
}
