@use '../../common.scss' as *;

.syllable {
  @include apply-line-font('syllable');
}

.word {
  display: inline-block;
  transition: opacity 0.8s ease;

  mask-mode: alpha;
  mask-repeat: no-repeat;

  @include apply-line-style('syllable');
}

.spaceEnd {
  :is([position='left'], [position='center']) & {
    margin-right: 0.3em;
  }
}

.spaceStart {
  :is([position='right']) & {
    margin-left: 0.3em;
  }
}
