.wrapper {
  --lyric-line-position: left;

  display: flex;
  position: absolute;
  width: var(--lyric-container-width);

  transition:
    transform 1s ease,
    opacity 0.6s ease,
    filter 0.6s ease;
  will-change: transform;
  opacity: 1;

  justify-content: var(--lyric-line-position);
  text-align: var(--lyric-line-position);
  transform-origin: var(--lyric-line-position) center;

  pointer-events: none;
}
