@use '../../common.scss' as *;

.extended {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;

  > :first-child {
    margin-top: 10px;
  }

  .translate,
  .roman {
    display: inline-block;
    transition: opacity 0.6s ease;
  }

  .translate {
    @include apply-line-font('extended-translate');
    @include apply-line-style('extended-translate');
  }

  .roman {
    @include apply-line-font('extended-roman');
    @include apply-line-style('extended-roman');
  }
}
